# KiCad backup and autosave files
*.bak
*.bck
*.tmp
*.kicad_prl
*.autosave

# Backup folders
*-backups/

# User-specific files
fp-info-cache
sym-lib-table

# Netlist, BOM, Gerbers (optional, if you want to regenerate instead of version control)
*.net
*.xml
*.csv
*.gbr
*.drl
*.zip

# Logs
*.log
